.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size: contain;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 20%;
    left: 15vw;
    animation: fadeIn 3s ;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1vw;
}

.header-contents button{
    color: #747474;
    border: none;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    font-weight: 500;
    background-color: white;
    font-size: max(1vw,13px);
    cursor: pointer;
    transition: all 0.3s ease;
}